.main-content {
  float: right;
  width: calc(100vw - 400px);
  margin: 60px auto;
  text-align: center;


  &__title {
    font-size: 30px;
    padding-bottom: 30px;
    border-bottom: solid 2px;
  }

  &__content {
    font-size: 20px;
    padding: 30px 0;
  }

}

.bottom-content {
  text-align: center;

  .btn-color {
    color: white;
  }
}

.another-info {
  padding: 50px 50px 0;

  &__tweets__link__title {
    margin-left: 100px;
  }


}

